    <div id="container" class="row">
        <div class="two columns" style="min-width:220px;" id="tool-box">
                <div id="toc-box" class="twelve columns">      
                    <ul id="toc-list" class="toc-list">
                    </ul>
                </div>
        </div>

        <div id="view-name-box" class="eight columns round-5">
             <div id="view-name"></div>
        </div>

        <div class="eight columns" id="mainline" class="mainline">

        </div>
    </div>