    <div id="container" class="row" style="max-width:880px;">
            <div class="four columns" id="tool-box">
                    <div id="toc-box" class="twelve columns">      
                        <ul id="toc-list" class="toc-list">
                        </ul>
                    </div>
            </div>

            <div class="eight columns" id="content-column">
                    <div id="view-name-box" class="round-5">
                        <div id="view-name"></div>
                    </div>
                    <div id="mainline">

                    </div>
            </div>
    </div>