      
    <div class="grids">
        <div class="grid-4" id="tool-box">
                <div class="grid-3" id="toc-box">
                    <ul id="toc-list" class="toc-list">
                    </ul>
                </div>
        </div>

        <div id="view-name-box" class="grid-10 round-5">
             <div id="view-name"></div>
        </div>

        <div class="grid-10 main-grid">
            <div id="mainline" class="grids mainline">

            </div>
        </div>
    </div>