<% layout('layout') -%>
    <div class="container-fluid" style="max-width:960px;padding:0px;">
        <div class="row-fluid">
            <div class="span4" id="tool-box">
                <div id="toc-box" class="twelve columns">      
                    <ul id="toc-list" class="toc-list">
                    </ul>
                </div>
            
            </div>
            <div class="span8 mainline">
                <div id="view-name-box" class="well">                             
                    <div class="btn-group" id="source-actions">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu" id="source-dropdown">
                            <li><a href="#" onclick="Controller.clearSource()">clear all</a></li>
                        </ul>
                    </div>  
                    <div id="view-name"></div>         
                </div>
                <div id="mainline">
                </div>
            </div>
        </div>
