<!DOCTYPE html>
<html lang="en" class="sdebug">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    
    <title><%= title %></title>
    
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/icon.png" />
    
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script> 
    <script src="/js/jquery.dateFormat-1.0.js" type="text/javascript"></script>
    <script src="/js/jquery.glow.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>        
        var socket = new io.connect('<%= socket_endpoint %>');         
    </script>
    <script data-main="js/reader" src="js/require.js"></script> 
</head>
<body class="wrapper">    
        <a name="top"></a>
        <div id="header">
             <ul id="nav" class="nav">
                <li onclick="Controller.deleteInView();return false;" id="delete-button" data-token='' class="nav-button nav-bg right">&#160;</a>                                
                <li id="expand" class="nav-button nav-bg right">&#160;</li>                
                <li id="total-view-docs" class="nav-button right">&#160;</li>
                <li onclick="Controller.getIndexItems();" id="nav-home" class="nav-button nav-bg left">&#160;</li>                
                <li onclick="Controller.showSettings();return false;" id="nav-settings" class="nav-button nav-bg left">&#160;</li>
                <li id="toc-more" class="nav-button nav-bg left">&#160;</li>
                <li id="total-docs" class="nav-button left">0</li>
            </ul>                        
            <ul id="settings-nav" class="nav">
                <li onclick="Controller.getIndexItems();" id="nav-back" class="nav-button nav-bg left">&#160;</li>                
            </ul>
        </div>

        <div id="settings">
            <ul class="tabrow">
                <li id="tab-source-form" onclick="Controller.showSourceForm();return false;" class="selected well">add source</li>
                <li id="tab-sources-list" onclick="Controller.showSourcesList();return false;" class="well">edit sources</li>
                <li id="tab-about" onclick="Controller.showAbout();return false;" class="well">about</li>
            </ul>

            <div id="tab-container">
                <div id="sources-list" class="tab-view well">            
                    <ul id="subs-list"></ul>
                </div>        

                <div id="source-form" class="tab-view well">
                    <div class="form-err"></div>
                    <div class="form-msg"></div>
                    <div id="form"></div>
                </div>

                <div id="about" class="tab-view well">
                    <p>push based feedreader by martin borho</p>
                </div>
            </div>
        </div>        

       <div id="content">            

        <%- body %>

       </div>

    <div id="tweet-modal" class="modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Tweet:</h3>
        </div>
        <div class="modal-body">
            <textarea onKeyPress="$('#tweet-count').text(140-this.value.length);"></textarea>            
        </div>
        <div class="modal-footer">
            <span id="tweet-count">140</span>                        
            <img src="/img/loader-small.gif" id="tweet-spinner" />
            <a href="#" class="btn btn-primary" onclick="Controller.sendTweet();return false;">Send</a>
            <a href="#" class="btn" onclick="$('#tweet-modal').modal('hide');return false;">Close</a>
        </div>
    </div>

    <div id="retweet-modal" class="modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Retweet?</h3>
        </div>
        <div class="modal-footer">
            <img src="/img/loader-small.gif" id="retweet-spinner" />
            <a href="#" class="btn btn-primary" onclick="Controller.sendRetweet();return false;">Send</a>
            <a href="#" class="btn" onclick="$('#retweet-modal').modal('hide');return false;">Close</a>
        </div>
    </div>

    <div id="mobile"></div>

    <div style="display:none"><!-- preload --><img src="/img/undo.png"/><img src="/img/home.png"/><img src="/img/delete_round.png"/>
    <img src="/img/settings_cog.png"/><img src="/img/expand.png"/><img src="/img/brush.png"/><img src="/img/toc.png"/></div>
</body>
</html>
