<!DOCTYPE html>
<html lang="en" class="sdebug">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    
    <title>Login</title>
    
    <link rel="stylesheet" href="/css/inuit.css" />
    <link rel="stylesheet" href="/css/grid.inuit.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/icon.png" />
    </head>
<body class="wrapper" style="display:block !important">  
    <div style="width:200px;margin:auto;margin-top:50px;">
        <form action="/login" method="post">
            <div>
            <label>Username:</label>
            <input type="text" name="username"/><br/>
            </div><div>
            <label>Password:</label>
            <input type="password" name="password"/>
            </div><div>
            <input type="submit" value="Log In"/>
            </div>
        </form>
    </div>
</body>